WEB_PORT=9999
REDIS_HOST=redis
REDIS_PORT=6379
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sms_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=V3ryUn53cur3P455w0rd!!!
DELIVERY_URL=https://webhook.site/84ff4989-e16a-4013-8997-cfd473c78b0d
DELIVERY_AUTH_KEY=here-is-an-example-auth-key